.year-selector {
  width: 100%; 
  margin: 0 20px 0 20px;
  padding:0;
}

::ng-deep .mdc-text-field {
  background-color: #0c0c5e !important;
  border: 1px solid white;
  border-radius: 10px !important;
}

.selected-item {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    height:0;
}

::ng-deep .mat-mdc-select-placeholder {
  color: white !important;
}

::ng-deep .mat-mdc-select-arrow svg {
  fill: white !important;
}

.content{
    width:100%;
}

::ng-deep .mat-mdc-select-panel{
    overflow-y:hidden !important;
    margin-top:10px !important;
    padding-top:0px !important;
    border-radius:20px !important;
    max-height:none !important;
    height: auto !important;
    padding-bottom: 0px !important;
}

.team-info {
  margin: 20px;
  color: white;
  background-color: #0c0c5e;
  padding:10px;
  border: 1px solid white;
}

.team-name{
    font-weight:800;
    font-size:30px;
}

.team-number {
  font-weight: 800;
  font-size: 30px;
}
.team-info-item{
    display:flex;
    align-items:center;
    font-size:14px;
    font-weight:300;
    margin:5px;
}

.location {
    color:dodgerblue;
    font-style:italic;
    display:flex; 
    font-size:14px;
}

.mat-icon{
    font-size:20px;
    color:white;  
}

.events{
  padding-bottom:20px;
}

.event-card {
  padding: 10px;
  margin: 20px;
  background-color: #0c0c5e;
  border: 1px solid white;
}

.event-info {
  color: white;
}

.event-name{
    font-size:25px;
    color: white;
}


.mat-mdc-table {
  margin-top: 10px;
  background-color: #17077a;
  border: 1px solid white;
}

.mat-mdc-header-row {
  font-weight: 400;
  color: white;
  height: 50px;
}

.mat-mdc-row {
  font-weight: 400;
  color: white;
  height:30px;
}

.alliance-numbers {
  justify-content: left;
}

.alliance-number {
  padding-right: 20px;
}

.even-row {
  background-color: #261781;
}

.odd-row {
  background-color: #2023a3;
}

.quickstats {
  padding: 10px;
  margin: 20px;
  background-color: #0c0c5e;
  border: 1px solid white;
  justify-content: space-around;
  color: white;
}

.quickstats-table {
  border-collapse: collapse;
  padding: 20px;
  margin: 20px;
}

.header-row {
  border-bottom: 1px solid white;
}

.first-column {
  border-right: 1px solid white;
}

.awards {
   display:flex;
   align-items:center;
   margin-top:10px;
   font-size:12px;
}

.trophy-icon {
  height: 20px;
  width: 20px;
  mask: url('/assets/img/trophy_icon.svg');
  margin:5px;
}

.no-info {
  color:aliceblue;
  font-size: 15px;
  margin: 30px;
}
